.resizable {
  position: relative;
  display: inline-block;
}

.e {
  background: transparent;
  position: absolute;
  width: 10px;
  height: 100%;
  right: -5px;
  cursor: col-resize;
  z-index: 6001;
}

.s {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: -5px;
  left: 0px;
  cursor: ns-resize;
  z-index: 6002;
}

.w {
  // background: transparent;
  background: transparent;
  position: absolute;
  width: 10px;
  height: 100%;
  left: -5px;
  cursor: col-resize;
  z-index: 6003;
}

.n {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 10px;
  top: -5px;
  cursor: row-resize;
  z-index: 6004;
}

.nw {
  background: transparent;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  left: -5px;
  cursor: nw-resize;
  z-index: 6005;
}

.ne {
  background: transparent;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
  z-index: 6006;
}

.sw {
  background: transparent;
  position: absolute;
  width: 10px;
  height: 10px;
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
  z-index: 6007;
}

.se {
  background: transparent;
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
  z-index: 6008;
}